.bookmark-item {
	max-width: 660px;
	margin: 0 auto;

	&:hover .boomark-item__tag-toggle {
		display: inline-block;
	}

	&__title {
		text-decoration: none;
		text-shadow: 0 1px rgba(255, 255, 255, 0.25);
		font-weight: bold;
	}

	&__header {
		padding: 10px 20px;
		border-bottom: 1px solid #ccc;
		position: relative;
	}

	&__link {
		font-size: 1.1rem;
		margin-left: 10px;
	}

	&__domain {
		text-decoration: none;
	}

	&__image-wrap {
		border-bottom: 1px solid #ccc;
		position: relative;
		padding: 10px 20px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075) inset;
	}

	&__image {
		max-width: 100%;
		max-height: 600px;
		margin: 0 auto;
		display: block;
	}

	&__options {
		padding: 4px 15px;
		border-top: 1px solid #ccc;
		background: #FCFAF9;
	}

	&__tags {
		padding: 4px 15px;
		-webkit-animation: fadeIn 200ms;
		-o-animation: fadeIn 200ms;
		animation: fadeIn 200ms;
		border-top: 1px solid #ccc;
		background: #FCFAF9;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075) inset;
	}

	&__footer {
		background: #f8f8f8;
		padding: 5px 20px;
		font-size: 75%;
		line-height: 1.2rem;
		color: #777;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075) inset;
		text-shadow: 0 1px rgba(255, 255, 255, 0.25);
	}

	&__toggles {
		list-style-type: none;
		padding: 0;
		margin: 0;
		float: right;

		li {
			display: inline-block;
			margin-left: 20px;
			float: right;

            -moz-transition: opacity .8s ease;
            -webkit-transition: opacity .8s ease;
            -o-transition: opacity .8s ease;
            transition: opacity .8s ease;    

            &.item-options-transition-enter {
                opacity: 0.01;
            }

            &.item-options-transition-enter-active {
                opacity: 1;
            }

            &.item-options-transition-leave {
                opacity: 1;
            }

            &.item-options-transition-leave-active {
                opacity: 0.01;
            }

			i {
				margin-top: 2px;
				font-size: 1rem;
				display: inline-block;

				&.bookmark-item__options-toggle {
                    -moz-transition: all .2s ease;
                    /* WebKit */
                    -webkit-transition: all .2s ease;
                    /* Opera */
                    -o-transition: all .2s ease;
                    /* Standard */
                    transition: all .2s ease;

                    &.bookmark-item__options-toggle--open {
                        -moz-transform: rotate(90deg);
                        /* WebKit */
                        -webkit-transform: rotate(90deg); 
                        /* Opera */
                        -o-transform: rotate(90deg);
                        /* Standard */
                        transform: rotate(90deg); 
                    }
				}
			}
		}
	}

	&__description {
		border-top: 1px solid #ccc;
		padding: 15px 20px;
		font-size: 80%;
		color: #777;

		p {
			&:first-child {
				margin-top: 0px;
			}

			&:last-child {
				margin-bottom: 0px;
			}
		}
	}

	&__edit-options {
		border-top: 1px solid #ccc;
	}
}
