.bookmark-item {

	&:hover .boomark-item__tag-toggle {
		display: inline-block;
	}

	.bookmark-item__title {
		text-decoration: none;
		text-shadow: 0 1px rgba(255, 255, 255, 0.25);
		font-weight: bold;
	}

	.bookmark-item__header {
		padding: 10px 20px;
		border-bottom: 1px solid #ccc;
		position: relative;
	}

	.bookmark-item__link {
		font-size: 1.1rem;
		margin-left: 10px;
	}

	.bookmark-item__domain {
		text-decoration: none;
	}

	.bookmark-item__image-wrap {
		border-bottom: 1px solid #ccc;
		position: relative;
		padding: 10px 20px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075) inset;
	}

	.bookmark-item__image {
		max-width: 100%;
		max-height: 600px;
		margin: 0 auto;
		display: block;
	}

	.bookmark-item__tags {
		padding: 4px 15px;
		-webkit-animation: fadeIn 200ms;
		-o-animation: fadeIn 200ms;
		animation: fadeIn 200ms;
		border-top: 1px solid #ccc;
		background: #FCFAF9;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075) inset;
	}

	.bookmark-item__footer {
		background: #f8f8f8;
		padding: 5px 20px;
		font-size: 75%;
		line-height: 1.2rem;
		color: #777;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075) inset;
		text-shadow: 0 1px rgba(255, 255, 255, 0.25);
	}

	.bookmark-item__footer-toggles {
		list-style-type: none;
		padding: 0;
		margin: 0;
		float: right;

		li {
			display: inline-block;
			margin-left: 20px;

			i {
				font-size: 1.1rem;
			}
		}
	}

	.bookmark-item__text {
		border-top: 1px solid #ccc;
		padding: 15px 20px;
		font-size: 80%;
		color: #777;

		p {
			&:first-child {
				margin-top: 0px;
			}

			&:last-child {
				margin-bottom: 0px;
			}
		}
	}

	.bookmark-item__edit-options {
		border-top: 1px solid #ccc;
	}
}