.tooltip {
    display: inline;
    position: relative;
}

.tooltip--active:after {
    background: #333;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    color: #fff;
    content: attr(title);
    padding: 6px 15px;
    position: absolute;
    z-index: 99;
    line-height: 1rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
}