form {
	margin: 0;
	padding: 0;
}

label {
	display: block;
	color: #777;
	margin-bottom: 6px;
}

.form-title {
	margin: 0;
	margin-bottom: 10px;
	color: #777;
	text-shadow: 0 1px rgba(255, 255, 255, 0.25);
	font-size: 1rem;
}

.form--inline {
	.form__group {
		display: inline-block;
		vertical-align: middle;
	}
}

.field {
	display: block;
	width: 100%;
	max-width: 100%;
	padding: 6px 0;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	// border: 1px solid #ddd;
	border: none;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	margin-bottom: 10px;
}

.field:focus {
	outline: none;
}

.inline-field {
	display: inline-block;
	padding: 0 5px;
}

.inline-field:first-child {
	padding-left: 0px;
}

.form-error, .field-error {
	display: block;
	color: #777;
}

.field-error {
	padding: 10px 0 0;
	margin-top: -10px;
	font-size: 70%;
	display: block;
}