body {
	background: #FCFCFC;
	font-family: "Open Sans", "Lucida Grande", sans-serif;
	padding: 10px;

	@media screen and (min-width: $break-small)  {
		max-width: 20px;
	}
}

a {
	color: #777;
}

a:hover {
	color: black;
}