@import '../imports';

body {
	background: #FCFCFC;
	font-family: "Open Sans", "Lucida Grande", sans-serif;
	padding: 20px 10px 30px;

	@media screen and (min-width: $break-small)  {
		padding: 20px;
	}
}

a {
	color: #777;
}

a:hover {
	color: black;
}

hr {
	color: #ddd;
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ddd;
    margin: 1em 0;
    padding: 0;
}