@import '../imports';

body {
	background: #FCFCFC;
	font-family: "Open Sans", "Lucida Grande", sans-serif;
	padding: 20px 10px;

	@media screen and (min-width: $break-small)  {
		padding: 20px;
	}
}

a {
	color: #777;
}

a:hover {
	color: black;
}

hr {
	color: #777;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
}