@import '../css/imports';

.app {
	max-width: 1000px;
	margin: 0 auto;
	padding-bottom: 10px;
}

.notouch {
	.app {
		padding: 40px 0;
	}
}

.content {
	padding: 20px 0px;


	@media screen and (min-width: $break-medium)  {
		padding: 20px;
	}
}
