@import '../../../css/imports';

.site-header {
	border-bottom: 1px solid #ccc;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075);
	text-shadow: 1px 1px 0px #fefefe;
	overflow: hidden;

	.site-title {
		font-size: 1.2rem;
		font-weight: bold;
		margin-left: 20px;
		color: #777;
		display: inline-block;
		text-shadow: 0 1px rgba(255, 255, 255, 0.25);
		text-transform: uppercase;

		a { 
			text-decoration: none;
			line-height: 2.4rem;
			display: inline-block;
			font-size: 85%;
		}
	}
}

.site-header__menu-icon {
	line-height: 2.4rem;
	text-decoration: none;
	padding: 0 20px;
	border-left: 1px solid #ccc;
}

.site-header__nav {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: inline-block;

	li {
		display: inline-block;
		float: right;

		&:first-child {
			border-right: 0px;
		}
	}

	a {
		text-decoration: none;
		line-height: 2.4rem;
		display: block;
		border-left: 1px solid #ccc;
		padding: 0px 14px;
		font-weight: bold;
	}
}