.bookmark-form {
	max-width: 500px;
	margin: 0 auto;

	.textarea {
		resize: none;
	}

	.tags-input__tags {
		margin: 10px 0;
		padding: 0;
	}

	.tags-input__tag {
		margin-top: 0px;
		&:first-child {
			margin-left: 0px;
		}
	}
	
}
