.list-form {
	max-width: 500px;
	margin: 0 auto;

	.textarea {
		resize: none;
	}

	.field-wrap {
		&:last-child {
			margin-bottom: 10px;
		}
	}

	&__bookmarks-list {
		padding: 0;
		margin: 0;
		border-top: 1px solid #ddd;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075) inset;
	}

	&__bookmarks-header {
		padding: 3px 20px;
		border-bottom: 1px solid #ddd;
		background: #FCFAF9;
		font-size: 70%;
		color: #777;
	}

}

.list-form__bookmark-item {
	width: 100%;
	position: relative;
	padding: 10px 30px 10px 20px;
	border-bottom: 1px solid #ddd;
	font-size: 80%;
	color: #777;
	list-style: none;
	list-style-type: none;

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;

	&:last-child {
		border-bottom: 0px;
	}

	&:hover {
		background: rgba(0, 0, 0, 0.02);

		.list-form__bookmark-item__remove {
			display: block;
		}

		.list-form__bookmark-item__drag-handle {
			display: block;
		}
	}

	&__drag-handle {
		position: absolute;
		left: 0px;
		padding-left: 8px;
		top: 0px;
		padding-top: 10px;
		bottom: 0px;
		font-weight: bold;
		cursor: move; /* fallback if grab cursor is unsupported */
	    cursor: grab;
	    cursor: -moz-grab;
	    cursor: -webkit-grab;
	}

	&__remove {
		font-size: 1.2rem;
		text-decoration: none;
		position: absolute;
		right: 10px;
		top: 0px;
		text-decoration: none;
		opacity: 0.5;

		&:hover {
			opacity: 0.8;
		}
	}
}

.notouch .list-form__bookmark-item__drag-handle {
	display: none;
}

.notouch .list-form__bookmark-item__remove {
	display: none;
	top: 1px;
}

input.list-form__bookmarks {
	position: relative;
	padding-right: 10px;
}

.autocomplete__clear {
	display: inline-block;
	font-size: 1.2rem;
	text-decoration: none;
	line-height: 2.4rem;
	position: absolute;
	right: 10px;
	top: 8px;
	opacity: 0.5;

	&:hover {
		opacity: 0.8;
	}
}

.autocomplete {
	position: absolute;
	left: -1px;
	right: -1px;
	top: 52px; // i hate magic numbers too.
	background: white;
	border: 1px solid #ddd;
	color: #777;
	z-index: 1;
	overflow-x: hidden;

	&__result {
		padding: 8px 20px;
		font-size: 80%;
		border-bottom: 1px solid #ddd;

		&:last-child {
			border-bottom: 0px;
		}

		&:hover {
			background: rgba(0, 0, 0, 0.02);
			cursor: pointer;
		}
	}
}