@import '../../../../css/imports';

.search-form {
	margin: 0;
	font-size: 80%;
	position: relative;

	.field {
		height: 2.4rem;
		border: 0px;
		border-left: 1px solid #ccc;
		padding: 0 25px 0 10px;
		margin: 0px;
		max-width: 130px;
		border-radius: 0px;
		display: inline-block;

		&:focus {
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075) inset;
		}

		@media screen and (min-width: $break-small)  {
			max-width: 160px;
		}
	}

	.search__clear {
		display: inline-block;
		font-size: 1.2rem;
		text-decoration: none;
		line-height: 2.4rem;
		position: absolute;
		right: 10px;
		opacity: 0.5;

		&:hover {
			opacity: 0.8;
		}
	}

}