.bookmark-item {
	display: block;
	margin-top: 20px;

	&:hover .boomark-item__tag-toggle {
		display: inline-block;
	}

	&:first-child {
		margin-top: 0px;
	}

	.bookmark-item__title {
		text-decoration: none;
		text-shadow: 0 1px rgba(255, 255, 255, 0.25)
	}

	.bookmark-item__header {
		padding: 10px 20px;
	}

	.bookmark-item__options {
		background: #f8f8f8;
		padding: 5px 20px;
		border-top: 1px solid #ccc;
		font-size: 75%;
		line-height: 1.2rem;
		color: #777;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075) inset;
		text-shadow: 0 1px rgba(255, 255, 255, 0.25);
	}

	.bookmark-item__tag-toggle {
		text-decoration: none;
	}

	.bookmark-item__tags {
		padding: 4px 20px;
		border-top: 1px solid #ccc;
	}

	.bookmark-item__tag {
		display: inline-block;
		border: 1px solid #ccc;
		font-size: 70%;
		padding: 2px 6px;
		border-radius: 4px;
		margin-left: 10px;
		background: #f8f8f8;
		color: #777;

		&:first-child {
			margin-left: 0px;
		}
	}
}