.create-choices {
	max-width: 500px;
	margin: 0 auto;
	position: relative;

	&__header {
		padding: 10px 20px;
		color: #777;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.075) inset;
		background: #FCFAF9;

		h3 {
			font-size: 1rem;
		}
	}

	&__choice-wrap {
		display: table;
		min-width: 100%;
	}

	.create-choice {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		height: 10rem;
		text-decoration: none;
		border-top: 1px solid #ddd;
		width: 50%;
			
		i {
			font-size: 2rem;
		}

		&:first-child {
			border-right: 1px solid #ccc;
		}

		&:hover {
			box-shadow: 0 1px 30px rgba(0, 0, 0, 0.055) inset;
		}

		&:active {
			box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1) inset;
		}
	}

}