.tag {
	display: inline-block;
	border: 1px solid #ccc;
	font-size: 70%;
	padding: 2px 6px 2px;
	border-radius: 4px;
	margin: 4px 5px 4px 0px;
	background: #f8f8f8;
	color: #777;
	text-decoration: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	max-width: 100%;
	overflow: hidden;
	overflow-wrap: break-word;
	position: relative;

	&:hover {
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.075);
		color: black;
	}

	.tag-remove {
		text-decoration: none;
		position: absolute;
		right: 0;
		top: 0;
		padding-top: 2px;
		padding-right: 5px;
		padding-left: 2px;
		display: block;
		background: #f8f8f8;
	}
}

form {
	.tag {
		padding: 2px 13px 2px 6px;
	}
}
