.context-menu__wrap {
	position: fixed;
	max-width: 1000px;
	margin: 0 auto;
	bottom: 10px;
	left: 0px;
	right: 0px;
}

.context-menu {
	margin: 0 10px;
	color: #777;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	&__content {
		flex: 1;
	}

	&__help {
		line-height: 2.2rem;
		padding: 0px 10px;
		border-right: 1px solid #ccc;
		text-decoration: none;
		font-size: 80%;

		&:after {
		    bottom: 2.6rem;
		    left: 0%;
    		width: 220px;
		}
	}

	p {
		margin: 0;
	}

	&__nav {
		margin: 0;
		padding: 0;
		list-style-type: none;
		list-style: none;
		color: #777;
		float: right;

		li {
			display: inline-block;
		}

		a {
			font-size: 80%;
			text-decoration: none;
			line-height: 2.2rem;
			padding: 0px 10px;
			border-left: 1px solid #ccc;
			display: inline-block;
		}
	}
}

.notouch {
	.context-menu__wrap {
		bottom: 20px;
	}
	.context-menu {
		a {
			padding: 0px 20px;
		}
	}
}