.bookmark-form {
	padding: 20px;
	max-width: 500px;
	margin: 0 auto;

	.field {
		margin-bottom: 10px;
	}

	.field-error {
		font-size: 70%;
		display: block;
		margin-bottom: 10px;
		background: #f8f8f8;
	}

	.tags-input__tags {
		margin: 0;
		padding: 0;
		margin-bottom: 10px;
	}

	.tags-input__tag {
		margin-top: 0px;
		&:first-child {
			margin-left: 0px;
		}
	}
	
}